<script type="text/x-handlebars">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">Blog</a>
				<ul class="nav">
					<li>{{#link-to 'posts'}}Posts{{/link-to}}</a></li>
					<li>{{#link-to 'about'}}About{{/link-to}}</a></li>
					<li class="dropdown">
				<a class="dropdown" data-toggle="dropdown" href="#">Things</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					<li><a>Clothing(empty)</a></li>
					<li><a href="">Photos(empty)</a></li>
					<li><a href="">Books(empty)</a></li>
				</ul>
					</li>
				</ul>
		</div>
		</div>	
			{{outlet}}
		<a href="#myModal" class="btn" data-toggle="modal">Lauch demo modal</a>

		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria.labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
				<h3 id="myModalLabel">Modal header</h3>
			</div>
			<div class="modal-body">
				<p><a href="http://www.douban.com/people/alfmunny">Get to know me on Douban</a></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button class="btn">Save changes</button>
			</div>
		</div>
</script>

<script type="text/x-handlebars" id="new">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				{{partial 'post/edit'}}	
				<button class="btn" {{action 'create'}}>Create</button>
				<button class="btn" {{action 'cancel'}}>Cancel</button>
			</div>
			<div class="span6">
				{{partial 'post/view'}}	
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars" id="post/_edit">
	<p>{{view Ember.TextField valueBinding='title' col="30"}}</p>
	<p>{{view Ember.TextArea valueBinding='intro' col="30"}}</p>
	<p>{{view Ember.TextArea valueBinding='extended' col="80" row="80"}}</p>
</script>

<script type="text/x-handlebars" id="post/_view">
	<div class="title">
	<h1>{{title}}</h1>
	</div>
	<h4> by {{author}} <small class="muted">{{date published_at}}</small></h4>

	<hr>

	<div class="intro">
		{{markdown intro}}
	</div>

	<div class="below-the-fold">
		{{markdown extended}}
	</div>
</script>


