<script type="text/x-handlebars">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
      	</button>
      	<a class="navbar-brand" href="#">Brand</a>
    	</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
					<li>{{#link-to 'about'}}About{{/link-to}}</li>
					<li>{{#link-to 'users'}}Users{{/link-to}}</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>{{#link-to 'signup'}}Sign Up{{/link-to}}</li>
				</ul>
			</div>

		</div>
	</nav>
			{{outlet}}
</script>

<script type="text/x-handlebars" id="new">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				{{partial 'post/edit'}}
				<button class="btn" {{action 'create'}}>Create</button>
				<button class="btn" {{action 'cancel'}}>Cancel</button>
			</div>
			<div class="span6">
				{{partial 'post/view'}}
			</div>
		</div>
	</div>
</script>

<script type="text/x-handlebars" id="post/_edit">
	<p>{{input type="text" value=title cols="30"}}</p>
	<p>{{textarea value=intro cols="30"}}</p>
	<p>{{textarea value=extended cols="80" rows="20"}}</p>
</script>

<script type="text/x-handlebars" id="post/_view">
	<div class="title">
	<h1>{{title}}</h1>
	</div>
	<h4> by {{author}} <small class="muted">{{date publishedAt}}</small></h4>

	<hr>

	<div class="intro">
		{{markdown intro}}
	</div>

	<div class="below-the-fold">
		{{markdown extended}}
	</div>
</script>
